
.productPageMainDiv{
    display: flex;
    width: 100%;
}
/* --------------------Sorting and Filter Main Div------------------ */

.sortingFilterDiv{
    border: 1px solid purple;
    width: 20%;
}

/*-------------------- Search Pagination Products Main div------------ */

.productsPageSearchDiv{
    border: 1px solid violet;
    width: 80%;
    margin: auto;
}

/* -----------------------------Pagination--------------------------- */

.paginationDiv{
    display: flex;
    max-width: max-content;
    align-items: center;
    padding: 15px;
    margin: auto;
    border: 1px solid blue;
}
/* ---------------------------.scrollToTopDiv----------------------- */

  .scrollToTopDiv {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.4;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
  }
  
  .scrollToTopDiv:hover {
    opacity: 1;
  }
  
  .scrollToTopDiv button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .scrollToTopDiv button:focus {
    outline: none;
  }
  

/*-----------------------Display All Products ---------------------  */

.productsDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    padding: 15px;
    border: 1px solid red;
}

.oneProductDivAndCartBtnDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-shadow: 2px 2px 2px gainsboro;

}

.oneProductDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.oneProductDivAndCartBtnDiv:hover{
    box-shadow: 5px 5px 4px gainsboro;
    cursor: pointer;
}
.oneProductDiv>p>span{
    text-decoration: line-through;
}
#cartBtn{
    width: 100%;
    padding: 7px;
    background-color: darkslategray;
    border: none;
    cursor: pointer;
}
#cartBtn:hover{
    background-color:rgb(40, 65, 65) ;
}
