.wishlistMainDiv{
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #cecece;
}
.allWishlistProdDiv{
    
}
.oneWishlistProdDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid darkslategray;
    width: 70%;
    padding: 5px;
    margin: 20px auto;
    cursor: pointer;
}
.oneWishlistProdDiv>img{
    height: 150px;
    width: 150px;
    margin-right: 35px;
}
.oneProdSubAndDeleteBtnDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.oneProdSubDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    text-align: start;
    width: 80%;
    
}
.oneProdSubDiv *{
    margin: 5px; 
    font-size: 16px;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wishlistDeleteAndCartBtn{
    position: relative;
    width: 120px;
    height: 40px;
    padding: 0px;
    margin: 10px;
}
.wishlistDeleteBtn{
    position: absolute;
    left: 0;
    top: 0;
    background-color: chocolate;
    border: none;
    margin-right: 15px;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;

}
.wishlistAddToCartBtn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(55, 104, 104);
    border: none;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
}
.wishlistDeleteBtn:hover{
    background-color: rgb(235, 61, 13);
    box-shadow: 1px 1px 1px red;
}
.wishlistAddToCartBtn:hover{
    background-color: darkslategray;
    box-shadow: 1px 1px 1px rgb(0, 6, 1);
}

@media screen and (max-width:700px){
    .wishlistMainDiv{
        padding: 5px;
    }
    .allWishlistProdDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .oneWishlistProdDiv{
        flex-direction: column;
        border-right: 1px solid darkslategray;
    }
    .oneProdSubAndDeleteBtnDiv{
        flex-direction: column;
    }
    .oneProdSubDiv{
        width: 100%;
    }
    .oneProdSubDiv *{
        font-size: 14px;
    }
}
@media screen and (max-width:400px){
    .allWishlistProdDiv{
        display: grid;
        grid-template-columns: 1fr;
    }
    .oneWishlistProdDiv{
        border-right: 1px solid darkslategray;
        margin:10px auto
    }
    .oneProdSubDiv *{
        font-size: 12px;
    }

}
