.navDiv{
    margin: 0;
    position: fixed;
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: darkslategray;
    color:whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navSubDiv{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navListing{
    color:whitesmoke ;
    text-decoration: none;
    font-weight: 700;
}
.navListing:hover{
    color: chocolate;
}
.loginAccountDiv{
}
.userImgDiv{
    position: relative;
    padding: 5px;
}
.userDropdownDiv{
    position: absolute;
    border: none;
    background-color: darkslategray;
    width: 100px;
    height:fit-content;
    top: 45px;
    right:-36px;
    padding: 10px 5px;
}
.userDropdownDiv>div:hover{
   color: chocolate;
   cursor: pointer;
}
.userImgDiv>img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid rgb(34, 65, 65);
}
#cartButton{
    height: 42px;
    width: 42px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navHamMainDiv{
    margin: 0;
    position: fixed;
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: darkslategray;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navHamburgerDiv{
  margin-left: 20px;
}
.navHamburgerDiv>svg:hover{
   cursor: pointer;
}  
